#include "version.h"

#if FARMANAGERVERSION_MAJOR == 1
fullgenericpluginrcwithguid(PLUGIN_MAJOR_VER, PLUGIN_MINOR_VER, PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME, PLUGIN_GUID, PLUGIN_COPYRIGHT, FAR_MAJOR_VER, FAR_MINOR_VER, FAR_BUILD, FARPRODUCTNAME)
#else
fullgenericpluginrc(PLUGIN_MAJOR_VER, PLUGIN_MINOR_VER, PLUGIN_BUILD, PLUGIN_DESC, PLUGIN_NAME, PLUGIN_FILENAME, PLUGIN_COPYRIGHT, FAR_MAJOR_VER, FAR_MINOR_VER, FAR_BUILD, FARPRODUCTNAME)
#endif
